<h2>Signup Error</h2>
<p>There was an error signing you up for Opus.  Please <a href="/registrations/new-user">try again</a> with a valid password try again.</p>

Or <a href = '/'>return to homepage</a>.
