<h2>Welcome, <%= @user.name %>!</h2>

Choose an action below: <br>

<a href="/books">View Books</a> <br>
<a href='/authors'>View Authors</a> <br>
<a href='/genres'>View Genres</a> <br>
<a href="/publishers">View Publishers</a> <br>
