<h2>Create New User</h2>

<form class="text" action="/registrations" method="post">
  <label for="name">Name: </label>
  <input id='name' type="text" name="name" placeholder='name'><br>

  <label for="email">Email: </label>
  <input id = 'email' type="name" name="email" placeholder='email'><br>

  <br>

  <label for="password">Password: </label>
  <input id ='password' type="password" name="password" placeholder='password'><br>

  <!-- <label for="confirm_password">Confirm Password: </label>
  <input id ='confirm_password' type="password" name="confirm_password" placeholder='confirm password'><br> -->
  <!-- ADD PASSWORD VALIDATION LATER -->
  <br>
  <input type="submit" value="Create User">
</form>
<a href = '/'>Go Back</a>
