<h2>Books</h2>

<% @books.each do |b| %>
  <a href='/books/<%= b.slug %>'><%= b.name %></a>, by <a href='/authors/<%= b.author.slug %>'><%= b.author.name %></a> <br>
<% end %>
<br>

<a href="books/new"><input type="submit" value="Add Book To Library"></a>
