<h2>Create New Book</h2>

<form class="text" action="/books" method="post">
  <label for="book_name">Book Name: </label>
  <input type="text" id='book_name' name="book[name]" placeholder='name'><br>
  <br>

  <label for="authorlist">Choose or create an author: </label>
  <input list="book_author"id='authorlist' placeholder='type or select name'>
  <datalist id='book_author' name="book[author]">
    <% @authors.each do |a| %>
      <option value="<%= a.name %>"><%= a.name %></option>
    <% end %>
  </datalist>
  <br></br>

  <label for="book_year_published">Year Published: </label>
  <input type="text" id='book_year_published' name="book[year_published]" placeholder='Year Published'><br>
  <br>

  <label for="publisherlist">Choose or create a publisher: </label>
  <input list='book_publisher' id='publisherlist' placeholder = 'type or select name'>
  <datalist id='book_publisher' name="book[publisher]">
    <% @publishers.each do |a| %>
      <option value="<%= a.name %>"><%= a.name %></option>
    <% end %>
  </datalist>
  <br></br>

  <input type="submit" value="Create New Book">
</form>
