<h1>Library Organizer</h1>


<a href="/sessions/login"><input type="submit" value="Log In"></a>
<a href="/registrations/new-user"><input type="submit" value="New User"></a>


<!-- <a href="/books">View Books</a> <br>
<a href='/authors'>View Authors</a> <br>
<a href='/genres'>View Genres</a> <br>
<a href="/publishers">View Publishers</a> <br> -->
