<!DOCTYPE html>
<html>
  <head>
    <title>Library Organizer</title>
  </head>
  <body>
    <div class="navbar">
      <a href="/">Home</a> | 
      <a href="/books">Books</a> |
      <a href="/authors">Authors</a> |
      <a href="/genres">Genres</a> |
      <a href="/publishers">Publishers</a>
    </div>
    <%= yield %>
  </body>
</html>
