<!DOCTYPE html>
<html>
  <head>
    <title>Opus - Library Catalogue</title>
  </head>
  <body>
    <div class="navbar">
      <a href="/users/home">Home</a> |
      <a href="/books">Books</a> |
      <a href="/authors">Authors</a> |
      <a href="/genres">Genres</a> |
      <a href="/publishers">Publishers</a> |
      <a href="/sessions/logout">Log Out</a>
    </div>
    <%= yield %>
  </body>
</html>
